<!doctype html>
<html>
    <head>
        <title>CarPark Ninja | {{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="./css/general.css" />
        <link rel="stylesheet" type="text/css" href="./css/{{.Page}}.css" />
    </head>
    <body>
        <header class="siteHeader">
            <a href="/" title="Home" class="homeLink">
                <span class="brand">
                    <img src="/assets/siteLogo.png" class="siteLogo" />
                    <span class="brandStart">CarPark</span>
                    Ninja
                </span>
            </a>
            <nav class="navLinks">
                {{range .Links.Navigation}}
                    <a href="/{{.Link}}" title="{{.Title}}" class="navLink">
                        {{.Title}}
                    </a>
                {{end}}
                <div class="accountButtons">
                    {{if .LoggedIn}}
                        <a class="navLink authLink grey" href="/account">Account</a>
                        <a class="navLink authLink red" href="/logout">Logout</a>
                    {{else}}
                        <a class="navLink authLink green" href="/register">Register</a>
                        <a class="navLink authLink grey" href="/login">Login</a>
                    {{end}}
                </div>
            </nav>
        </header>
        <section id="app">
            {{template "content"}}
        </section>
        <footer class="siteFooter">
            <div class="container footer">
                <span class="brand">
                    <span class="brandStart">
                        CarPark
                    </span>
                    Ninja
                </span>
                <ul class="links">
                    {{range .Links.Footer}}
                        <li>
                            <a href="/{{.Link}}">{{.Title}}</a>
                        </li>
                    {{end}}
                </ul>
                <span class="copy">
                    Copyright &copy; CarPark Ninja 2019
                </span>
                <span class="version">
                    {{.Version}} -- {{.Build}}
                </span>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script src="./js/script.js"></script>
    </body>
</html>