<!doctype html>
<html>
    <head>
        <title>CarPark Ninja | {{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
    </head>
    <body>
        <header class="siteHeader block">
            <a href="/" title="Home" class="homeLink">
                <span class="brand">
                    <img alt="CarPark Ninja" src="/assets/siteLogo.png" class="siteLogo" />
                    <span class="inline lg:hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="brandStart hidden lg:inline">CarPark</span>
                    <span class="hidden lg:inline">Ninja</span>
                </span>
            </a>
            <nav class="navLinks flex justify-center">
                {{range .Links.Navigation}}
                    <a href="/{{.Link}}" title="{{.Title}}" class="navLink">
                        {{.Title}}
                    </a>
                {{end}}
                <div class="hidden md:block relative right-0 top-0 mt-2">



                </div>

                <div class="accountButtons md:flex sm:hidden">
                    {{if .LoggedIn}}
                        <a class="text-green-200 rounded border-green-200 border-2 p-1 mt-2 ml-1" href="/account">Account</a>
                        <a class="text-red-200 rounded border-red-200 border-2 p-1 mt-2 ml-1" href="/account/logout">Logout</a>
                    {{else}}
                        <a class="text-green-200 rounded border-green-200 border-2 p-1 mt-2 ml-1" href="/account/register">Register</a>
                        <a class="text-blue-200 rounded border-blue-200 border-2 p-1 mt-2 ml-1" href="/account/login">Login</a>
                    {{end}}
                </div>
            </nav>
        </header>
        <main id="app" class="container mx-auto px-4 {{.Page}} mb-5">
            {{template "content" .Content}}
        </main>
        <footer class="siteFooter bottom-0 relative flex">
            <div class="container footer">
                <span class="brand">
                    <span class="brandStart">
                        CarPark
                    </span>
                    Ninja
                </span>
                <ul class="links">
                    {{range .Links.Footer}}
                        <li>
                            <a href="/{{.Link}}">{{.Title}}</a>
                        </li>
                    {{end}}
                </ul>
                <span class="copy relative bottom-0 pr-4">
                    Copyright &copy; CarPark Ninja 2019
                </span>
                <span class="version pr-4">
                    {{.Version}} -- {{.Build}}
                </span>
            </div>
        </footer>
        <script src="/js/script.js"></script>
    </body>
</html>
