<!doctype html>
<html>
    <head>
        <title>CarPark Ninja | {{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
        <link rel="stylesheet" type="text/css" href="/css/{{.Page}}.css" />
    </head>
    <body>
        <header class="siteHeader block">
            <a href="/" title="Home" class="homeLink">
                <span class="brand">
                    <img alt="CarPark Ninja" src="/assets/siteLogo.png" class="siteLogo" />
                    <span class="brandStart hidden lg:inline">CarPark</span>
                    <span class="hidden lg:inline">Ninja</span>
                </span>
            </a>
            <nav class="navLinks md:flex justify-center sm:hidden">
                {{range .Links.Navigation}}
                    <a href="/{{.Link}}" title="{{.Title}}" class="navLink">
                        {{.Title}}
                    </a>
                {{end}}
                <div class="accountButtons md:flex sm:hidden">
                    {{if .LoggedIn}}
                        <a class="navLink authLink grey" href="/account">Account</a>
                        <a class="navLink authLink red" href="/logout">Logout</a>
                    {{else}}
                        <a class="navLink authLink green" href="/register">Register</a>
                        <a class="navLink authLink grey" href="/login">Login</a>
                    {{end}}
                </div>
            </nav>
        </header>
        <main id="app" class="container mx-auto px-4 {{.Page}} mb-5">
            {{template "content" .Content}}
        </main>
        <footer class="siteFooter bottom-0 relative flex">
            <div class="container footer">
                <span class="brand">
                    <span class="brandStart">
                        CarPark
                    </span>
                    Ninja
                </span>
                <ul class="links">
                    {{range .Links.Footer}}
                        <li>
                            <a href="/{{.Link}}">{{.Title}}</a>
                        </li>
                    {{end}}
                </ul>
                <span class="copy relative bottom-0 pr-4">
                    Copyright &copy; CarPark Ninja 2019
                </span>
                <span class="version pr-4">
                    {{.Version}} -- {{.Build}}
                </span>
            </div>
        </footer>
        <script src="/js/script.js"></script>
    </body>
</html>
