{{define "content"}}
    <form class="w-full max-w-lg mt-5 mx-auto" method="post">
        {{if .}}
            <div class="bg-red-300 text-white mx-auto w-full p-3 rounded mb-2" id="login-error">
                <span>{{.}}</span>
                <span class="text-sm float-right cursor-pointer" id="login-error-close">X</span>
            </div>
        {{end}}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="login-email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="login-email" id="login-email" type="email" placeholder="user@carpark.ninja">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="login-password">
                Password
            </label>
            <input class="shadow appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="login-password" id="login-password" type="password" placeholder="password">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Login
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/account/forgot">
                Forgot Password?
            </a>
            <button type="button" id="login-register" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Register
            </button>
        </div>
    </form>

    <script>
        let cm = document.getElementById("login-error-close")
        if (cm) {
            cm.onclick = function() {
                let er = document.getElementById("login-error")
                er.parentElement.removeChild(er)
            }
        }

        let rg = document.getElementById("login-register")
        rg.onclick = function() {
            window.location = "/account/register"
        }
    </script>
{{end}}
